{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10" style="background-color: #f5f5f5">
    <form class="layui-form layui-form-pane" method="post" action="">

        <div class="layui-form-item">
            <label class="layui-form-label">选择影片：</label>
            <div class="layui-input-inline">
                <select name="vod_id" lay-verify="required">
                    {volist name="list" id="vo"}
                    <option value="{$vo.vod_id}" {if condition="$key eq 1"}selected{/if}>[{$vo.type.type_name}]{$vo.vod_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择推荐等级：</label>
            <div class="layui-input-inline">
                <select name="vod_level">
                    <option value="">{:lang('select_level')}</option>
                    <option value="9" {if condition="$vo['vod_level'] eq '9'"}selected {/if}>{:lang('level')}9-{:lang('slide')}</option>
                    <option value="1" {if condition="$vo['vod_level'] eq '1'"}selected {/if}>{:lang('level')}1</option>
                    <option value="2" {if condition="$vo['vod_level'] eq '2'"}selected {/if}>{:lang('level')}2</option>
                    <option value="3" {if condition="$vo['vod_level'] eq '3'"}selected {/if}>{:lang('level')}3</option>
                    <option value="4" {if condition="$vo['vod_level'] eq '4'"}selected {/if}>{:lang('level')}4</option>
                    <option value="5" {if condition="$vo['vod_level'] eq '5'"}selected {/if}>{:lang('level')}5</option>
                    <option value="6" {if condition="$vo['vod_level'] eq '6'"}selected {/if}>{:lang('level')}6</option>
                    <option value="7" {if condition="$vo['vod_level'] eq '7'"}selected {/if}>{:lang('level')}7</option>
                    <option value="8" {if condition="$vo['vod_level'] eq '8'"}selected {/if}>{:lang('level')}8</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">海报图：</label>
            <div class="layui-input-block">
                <input type="text" name="vod_pic_slide" placeholder="海报图地址" value="{$pc}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">缩略图：</label>
            <div class="layui-input-block">
                <input type="text" name="vod_pic_thumb" placeholder="缩略图地址" value="{$wap}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">副标题：</label>
            <div class="layui-input-block">
                <input type="text" name="vod_sub" placeholder="副标题" value="{$plot}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">背景颜色：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{$vo.vod_color}" placeholder="" name="vod_color" id="vod_color">
            </div>
        </div>
        <div class="layui-form-item center">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit" data-child="">{:lang('btn_save')}</button>
            </div>
        </div>
    </form>
</div>
<style>.ipa{text-decoration: revert;color: #2440b3;}</style>
<script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
{include file="../../../application/admin/view/public/foot" /}
</body>
</html>