/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @config "../tailwind.config.js"; */
@import "tailwindcss";

button,select {
  cursor: pointer;
}
html.dark, body.dark {
  background-color: #121212;
  color: #fff;
}
html.dark .bg-white {
  background-color: #000;
}
html.dark .bg-gray-100 {
  background-color: #121212;
}
html.dark .bg-gray-200 {
  background-color: #222;
}
html.dark .border-gray-200 {
  border-color: #222;
}
html.dark .border-gray-300 {
  border-color: #333;
}
html.dark .border-gray-800 {
  border-color: #999;
}
html.dark .text-gray-800 {
  color: rgb(255, 255, 255, 0.8) !important;
}
html.dark .text-gray-700 {
  color: rgb(255, 255, 255, 0.7) !important;
}
html.dark .text-gray-600 {
  color: rgb(255, 255, 255, 0.6) !important;
}
html.dark .text-gray-500 {
  color: rgb(255, 255, 255, 0.5) !important;
}
.md\:grid-cols-5 {
  @media (width >= 48rem) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}